.page {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.page__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: flex 0.3s;
}

.page__header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.page__header-row h1 {
    min-height: 40px;
    line-height: 40px;
    margin: 0;
}

.page__filters {
    display: flex;
    align-items: center;
    gap: 10px;
}

.page__container--with-details {
    flex: 0 0 60%;
    padding-right: 15px;
}
